<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.robbycostales.alfred.audible</string>
	<key>connections</key>
	<dict>
		<key>09A51EDB-7071-4B9B-B081-4BF49022405F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5D4DF98-3020-4A58-AB9F-DFDDF4159E62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F60FD90-B801-478B-A747-C1CC594FEF1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09A51EDB-7071-4B9B-B081-4BF49022405F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5D4DF98-3020-4A58-AB9F-DFDDF4159E62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>671F3FA9-9E36-4A56-A74A-585FBF548C1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA1ADD65-73E0-4D83-846F-4ECBF685F27B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F60FD90-B801-478B-A747-C1CC594FEF1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robby Costales</string>
	<key>description</key>
	<string>This workflow is a hacky solution to export audible book notes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Audible Export</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EA1ADD65-73E0-4D83-846F-4ECBF685F27B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>671F3FA9-9E36-4A56-A74A-585FBF548C1E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>parse.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A5D4DF98-3020-4A58-AB9F-DFDDF4159E62</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard:2}xx
{clipboard:1}xx
{clipboard:0}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>09A51EDB-7071-4B9B-B081-4BF49022405F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1.0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>3F60FD90-B801-478B-A747-C1CC594FEF1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow demonstrates a few techniques to integrate the clipboard into your workflows.

The easiest and most predictable way to get the clipboard or clipboard history into your workflow is to use an Arg and Var utility object, and set a variable to {clipboard} or {clipboard:x} where x is the history item number. This will fix the variable to the text at the point the workflow passes through this object.

Note that while {clipboard} and {clipboard:0} both represent the latest clipboard entry, the value of these may differ. {clipboard:0} represents the latest item in Alfred's clipboard history whereas {clipboard} represents the current clipboard entry in macOS. The latter may not be compatible with Alfred's clipboard history.

The clipboard history placeholders are available in most output objects, along with the Arg and Var / JSON utilities. Help subtext hints this throughout the configuration sheets.</string>
	<key>uidata</key>
	<dict>
		<key>09A51EDB-7071-4B9B-B081-4BF49022405F</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>3F60FD90-B801-478B-A747-C1CC594FEF1A</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>671F3FA9-9E36-4A56-A74A-585FBF548C1E</key>
		<dict>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>A5D4DF98-3020-4A58-AB9F-DFDDF4159E62</key>
		<dict>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>EA1ADD65-73E0-4D83-846F-4ECBF685F27B</key>
		<dict>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>robbycostales.com</string>
</dict>
</plist>
